/* Universal css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: inherit;
}

#wrap-home-1 {
    display: flex;
    justify-content: center;
}
#home-1 {
    width: 1441.15px;
    overflow: hidden;
}

/* Site Header */
#site-header {
    width: 1140px;
    height: 63px;
    /* border: 1px solid black; */

    position: absolute;
    top: 41px;
    left: 150px;
    z-index: 1;
}
/* Main Logo */
#site-header .main-logo {
    width: 258px;
    height: 70px;
    background-image: url('./img/Main\ Logo.png');

    position: absolute;
    left: 0;
}

/* Main Menu */
.main-menu {
    width: 481px;
    height: 25px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 450px;

}
#site-header .main-menu .nav {
    display: flex;
    list-style: none;
}
#site-header .main-menu .nav li {
    height: 24px;
    border-radius: 15px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgba(139, 139, 139, 1);

   
    flex: 1;
    text-align: center;
}
#site-header .main-menu .nav li:hover {
    background-color: azure;
    color: rgba(255, 100, 174, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

/* Contact Button */
#site-header .contact-button {
    width: 158px;
    height: 52px;
    border-radius: 50px;
    background-color: rgba(255, 100, 174, 1);

    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgba(255, 255, 255, 1);

    position: absolute;
    right: 0;
    top:4px;
}


#site-header .contact-button:hover {
    background-color: azure;
    color: rgba(255, 100, 174, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    
}
/* ----------------------------------------- */
/* Main Slider */
#main-slider {
    width: 1286.5px;
    height: 805px;
    /* border: 1px solid black; */

    position: relative;
    z-index: 0;
}
.frame-1 {
    width: 601.5px;
    height: 397.5px;
    background-image: url('./img/Frame\ 1.png');

    position: absolute;
    right: 0;
    top: 263px;

}
.text-1 {
    width: 430px;
    height: 128px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;

    position: absolute;
    top: 316px;
    left: 189px;

}
.text-2 {
    width: 474px;
    height: 54px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;

    position: absolute;
    top: 444px;
    left: 189px;

}
#main-slider .button-1 {
    width: 200px;
    height: 58.36114501953125px;
    border-radius: 50px;
    background: rgba(255, 100, 174, 1);
    box-shadow: 0px 17px 22px 0px rgba(255, 237, 246, 1);

    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 58.36114501953125px;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgba(255, 255, 255, 1);

    position: absolute;
    top: 526px;
    left: 189px;
    border-radius: 50px;

}
#main-slider .button-1:hover{
    background-color: azure;
    color: rgba(255, 100, 174, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

#main-slider .button-2 {
    width: 71px;
    height: 8.146135330200195px;
    background-image: url('./img/Slide\ Button.png');

    position: absolute;
    top: 796.5px;
    left: 685px;

}
.slide-background {
    width: 1266.422119140625px;
    height: 743px;
    background-image: url('./img/Slide\ Background.png');
}

/* ----------------------------------------- */
/* Core Servive */
/* Titlle Desc */
#core-services {
    width: 1140px;
    height: 732px;
    /* border: 1px solid black; */
    
    position: relative;
    top: 146.5px;
    left: 150px;
    z-index: 1;
}
.title-desc {
    width: 848px;
    height: 192px;

    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);

}
.title-desc .text-1 {
    width: 113px;
    height: 20px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 100, 174, 1);


    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);

}
.title-desc .text-2 {
    width: 732px;
    height: 97px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(9, 17, 86, 1);

    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

}
.title-desc .text-3 {
    width: 848px;
    height: 51px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgba(139, 139, 139, 1);

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* Box container */
#core-services .box-container {
    width: 1140px;
    height: 458px;


    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;
}
#core-services .box-container .box-item {
    height: 458px;
    border-radius: 42px;
    flex-basis: 343px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 25px 50px 25px rgba(246, 247, 255, 1);

    position: relative; 
}

#core-services .box-container .box-item img {
    width: 166px;
    height: 166px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;

}
#core-services .box-container .box-item .text-1 {
    width: 263px;
    height: 37px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(9, 17, 86, 1);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 300px;

}
#core-services .box-container .box-item .text-2 {
    width: 274px;
    height: 80px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgba(139, 139, 139, 1);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 350px;

}
/* ----------------------------------------- */
/* About Us */
#about-us {
    width: 1291.1458740234375px;
    height: 1028.8857421875px;
    /* border: 1px solid black; */

    position: relative;
    left:150px;
    top: -89px;
}
#about-us .tittle-desc {
    width: 664px;
    height: 292px;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#about-us .tittle-desc .text-1 {
    width: 73px;
    height: 20px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 100, 174, 1);

    position: absolute;
    top: 0;
    left: 0;
}
#about-us .tittle-desc .text-2 {
    width: 664px;
    height: 52px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(9, 17, 86, 1);

    position: absolute;
    left: 0;
    top: 30px;


}
#about-us .tittle-desc .text-3 {
    width: 483px;
    height: 196px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(139, 139, 139, 1);

    position: absolute;
    left: 0;
    bottom: 0;


}
#about-us .button-1 {
    width: 200px;
    height: 58.36114501953125px;
    border-radius: 50px;
    background-color: rgba(255, 100, 174, 1);
    box-shadow: 0px 17px 22px 0px rgba(255, 237, 246, 1);

    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 58.36114501953125px;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgba(255, 255, 255, 1);

    position: absolute;
    left: 0;
    bottom: 270px;

}

#about-us .button-1:hover {
    background-color: azure;
    color: rgba(255, 100, 174, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

#about-us .button-2 {
    width: 213px;
    height: 49px;
    border-radius: 50px;

    position: absolute;
    bottom: 270px;
    left: 250px;
}

#about-us .button-2 .text {
    width: 151px;
    height: 27px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(139, 139, 139, 1);

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#about-us .button-2 img {
    width: 49px;
    height: 49px;
    border-radius: 49px;
}

#about-us .img-1 {
    width: 476px;
    height: 350px;
    border-radius: 50px;
    box-shadow: 0px 0px 50px 25px rgba(255, 255, 255, 1);
    background-image: url('./img/unsplash_LRXYS0tSyGc.png');
    background-position: center; 
  
    position: absolute;
    left: 664px;
    bottom: 270px;
    z-index: 1;

}
#about-us .img-2 {
    width: 948.1458740234375px;
    height: 1028.8857421875px;
    background-image: url('./img/Background\ Bubble.png');

    position: absolute;
    right: 0;
}
/* ----------------------------------------- */
/* Professional Teams */
#professional-teams {
    width: 1085px;
    height: 861px;
    /* border: 1px solid black; */

    position: relative;
    left: 178px;
    top: -200px;

}
#professional-teams .tittle-desc {
    width: 848px;
    height: 148px;
    /* border: 1px solid black; */

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);;
}
#professional-teams .tittle-desc .text-1 {
    width: 160px;
    height: 20px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 100, 174, 1);

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);;
}
#professional-teams .tittle-desc .text-2 {
    width: 732px;
    height: 53px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(9, 17, 86, 1);

    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}
#professional-teams .tittle-desc .text-3 {
    width: 848px;
    height: 51px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgba(139, 139, 139, 1);

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* Box Container */
#professional-teams .box-container {
    width: 1085px;
    height: 626px;
    /* border: 1px solid black; */

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#professional-teams .box-container .box-item{
    /* border: 1px solid black; */

    position: relative;
}

#professional-teams .box-container .side-item{
    width: 270px;
    height: 439px;
    margin: 93.5px 0;
}

#professional-teams .img {
    width: 146px;
    height: 146px;
    /* border: 1px solid black; */

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#professional-teams .box-item .text-1 {
    width: 106px;
    height: 20px;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 100, 174, 1);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;

}
#professional-teams .box-item .text-2 {
    width: 263px;
    height: 37px;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(9, 17, 86, 1);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 235px;
}
#professional-teams .box-item .text-3 {
    width: 270px;
    height: 63px;

    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgba(139, 139, 139, 1);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 277px;
}
#professional-teams .social-media {
    width: 215px;
    height: 49px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    display: flex;
    justify-content: space-between;


}

#professional-teams .social-media .media {
    width: 49px;
    height: 49px;
    border-radius: 49px;
    box-shadow: -2px 6px 16px -1px rgba(230, 233, 253, 1);

}

#professional-teams .social-media .media.media-1 {
    background-image: url('./img/twitter_3.png');
    background-position: center ; 
    background-repeat: no-repeat;
}
#professional-teams .social-media .media.media-2 {
    background-image: url('./img/facebook-f\ \(1\).png');
    background-position: center; 
    background-repeat: no-repeat;
}
#professional-teams .social-media .media.media-3 {
    background-image: url('./img/Instagram.png');
    background-position: center;
    background-repeat: no-repeat; 
}

#professional-teams .social-media .media.media-1:hover,
#professional-teams .social-media .media.media-2:hover,
#professional-teams .social-media .media.media-3:hover {
    position: relative;
    top:-5px;
}

#professional-teams .box-container .center-item{
    width: 424px;
    height: 626px;
    border-radius: 42px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 25px 50px 25px rgba(246, 247, 255, 1);


}

#professional-teams  .img.top-img {
    top: 93.5px;
}
#professional-teams .text-1.top-1 {
    top: 293.5px;
}
#professional-teams .text-2.top-2 {
    top: 328.5px;
}
#professional-teams .text-3.top-3 {
    top: 370.5px;
}
#professional-teams .top-media {
    bottom: 93.5px;
}
/* ----------------------------------------- */
/* Contact Us */
#contact-us {
    width: 1290.327392578125px;
    height: 1072px;
    /* border: 1px solid black; */

    position: relative;
    top: -170px;
}
/* - */
#contact-us .contact-animations {
    width: 520px;
    height: 614px;
    background-image: url('./img/Contact\ Animations.png');

    position: absolute;
    left: 150px;
    top: 366px;
    z-index: 1;
}
/* - */
#contact-us .tittle-desc{
    width: 497px;
    height: 169px;
    /* border: 1px solid black; */

    position: absolute;
    left: 770px;
    top: 207px;
    z-index: 1;
}
#contact-us .tittle-desc .text-1{
    width: 90px;
    height: 20px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 100, 174, 1);

    position: absolute;
    top: 0;
    left: 0;

}
#contact-us .tittle-desc .text-2{
    width: 404px;
    height: 97px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(9, 17, 86, 1);

    position: absolute;
    top: 32px;
    left: 0;
}
#contact-us .tittle-desc .text-3{
    width: 497px;
    height: 28px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(139, 139, 139, 1);

    position: absolute;
    bottom: 0;
    left: 0;

}
/* - */
#contact-us .contact-form {
    width: 520px;
    height: 652px;
    /* border: 1px solid black; */

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#contact-us .contact-form input {
    height: 61.58px;
    border-radius: 15px;
    border: 1px solid rgba(217, 221, 254, 1);
}

#contact-us .contact-form textarea {
    border-radius: 15px;
    border: 1px solid rgba(217, 221, 254, 1);
}

#contact-us .contact-form #firstname {
    width: 242.21px;

    display: inline-block;
    float: left;
}
#contact-us .contact-form #lastname {
    width: 242.21px;

    display: inline-block;
    float: right;
}
#contact-us .contact-form #email {
    width: 100%;
    display: block;

    position: absolute;
    top:100px;
}
#contact-us .contact-form #subject {
    width: 100%;
    display: block;

    position: absolute;
    top:200px;
}
#contact-us .contact-form #inquiry {
    width: 100%;
    height: 240px;
    display: block;

    position: absolute;
    top:300px;
}
#contact-us .contact-form #submit {
    width: 248px;
    height: 58px;
    border-radius: 50px;
    background-color: rgba(255, 100, 174, 1);
    box-shadow: 0px 17px 22px 0px rgba(255, 237, 246, 1);
    cursor: pointer;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgba(255, 255, 255, 1);

    position: absolute;
    bottom: 0;
    left: 0;
}

#contact-us .contact-form #submit:hover {
    background-color: azure;
    color: rgba(255, 100, 174, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}


#contact-us input[type="text"], textarea {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(197, 197, 197, 1);

    padding-left: 25px;
}
#contact-us textarea {
    padding-top: 30px;
}
/* - */
#contact-us .background-img {
    width: 1175.73046875px;
    height: 929px;
    background-image: url('./img/Background\ Bubble\ 1.png');

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
/* ----------------------------------------- */
/* Site Footer */
#site-footer {
    width: 1440px;
    height: 705.342041015625px;
    /* border: 1px solid black; */

    position: relative;
    left: 0;
    overflow: hidden;
}
/* - */
#site-footer .sidebar-1 {
    width: 492px;
    height: 191px;
    /* border: 1px solid black; */

    position: absolute;
    left: 150px;
    top: 241px;
    z-index: 2;
}
#site-footer .sidebar-1 .footer-logo {
    width: 258px;
    height: 63px;
    background-image: url('./img/Footer\ Logo.png');

}
#site-footer .sidebar-1 .text-1 {
    width: 461px;
    height: 21px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(215, 219, 255, 1);

    position: absolute;
    left: 30px;
    top: 96px;

}
#site-footer .sidebar-1 .text-1 span {
    font-weight: 700;
}
#site-footer .sidebar-1 .text-2 {
    width: 297px;
    height: 24px;
    font-family: Poppins;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(215, 219, 255, 1);

    position: absolute;
    left: 30px;
    top: 143px;


}
#site-footer .sidebar-1 .text-3 {
    width: 140px;
    height: 23px;
    font-family: Poppins;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(215, 219, 255, 1);
    
    position: absolute;
    left: 30px;
    top: 168px;
}
#site-footer .sidebar-1 .text-4 {
    width: 190px;
    height: 23px;
    font-family: Poppins;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: left;
    text-decoration: underline;
    color: rgba(215, 219, 255, 1);

    position: absolute;
    left: 199px;
    top: 168px;
}
/* - */
#site-footer .sidebar-2 {
    width: 131px;
    height: 219px;

    position: absolute;
    left: 771px;
    top: 225px;
    z-index: 2;
}
#site-footer .sidebar-2 .text {
    width: 129px;
    height: 31px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(255, 255, 255, 1);

    position: absolute;
    top: 0;
    left: 0;

}
#site-footer .sidebar-2 .nav-page {
    width: 100%;
    height: 164px;

    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#site-footer .sidebar-2 .nav-item {
    width: 131px;
    height: 24px;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(215, 219, 255, 1);


}
/* - */
#site-footer .sidebar-3 {
    width: 215px;
    height: 190px;
    /* border: 1px solid black; */

    position: absolute;
    left: 1075px;   
    top: 225px;
    z-index: 2; 
}
#site-footer .sidebar-3 .text {
    width: 175px;
    height: 31px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(255, 255, 255, 1);

    position: absolute;
    top: 0;
    left: 0;

}
#site-footer .sidebar-3 .nav-info {
    width: 215px;
    height: 139px;
    /* border: 1px solid black; */

    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#site-footer .sidebar-3 .info-item {
    width: 215px;
    height: 24px;
    /* border: 1px solid black; */
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(215, 219, 255, 1);
}

/* - */
#site-footer .totop-button {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    background-color: rgba(255, 100, 174, 1);
    text-align: center;
    line-height: 40px;

    position: absolute;
    left: 1339px;
    top: 500px;
    z-index: 2; 
}

#site-footer .totop-button:hover {
    position: absolute;
    top: 495px;
}
/* - */
#site-footer .social-media {
    width: 305px;
    height: 27.83882713317871px;
    /* border: 1px solid black; */

    position: absolute;
    left: 150px;
    top: 586px;
    z-index: 2; 

    display: flex;
    justify-content: space-between;
}

#site-footer .social-media .media-item {
    width: 25px;
    height: 27.83882713317871px;
    /* border: 1px solid black; */
}
/* - */
#site-footer .studio {
    width: 497px;
    height: 31.179487228393555px;
    /* border: 1px solid black; */
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: right;
    color: rgba(215, 219, 255, 1);

    position: absolute;
    left: 793px;
    top: 585px;
    z-index: 2;
}
/* - */
#site-footer .background-img {
    width: 1440px;
    height: 705.3419799804688px;

    position: relative;
}

#site-footer .background-img .img-1 {
    position: absolute;
    z-index: 1;

}
#site-footer .background-img .img-2 {
    position: absolute;
    bottom: 0;
}

/* ----------------------------------------- */